@use '../../variables/variables';
@use '../../mixins/mixins';

.footer {
  display: flex;
  gap: 1.8rem;
  background-color: variables.$white;
  padding: 1.2rem;
  border-radius: 0.5rem;
  margin-top: 1rem
}

.made-by {
  @include mixins.made-by(variables.$gray-dark);

}
.author {
  @include mixins.made-by(variables.$blue);
  font-weight: bold;
}
